<div id="header">
  <div id="web_logo">
    <img src="../assets/earth.png" alt="earth" />
    <div id="website_title">
      <span> World Atlas</span>
    </div>
  </div>

  <div id="social_media">
    <div (click)="goToFacebook()">
      <img src="../assets/facebook.png" alt="facebook" />
    </div>
    <div (click)="goToTwitter()">
      <img src="../assets/twitter.png" alt="twitter" />
    </div>
    <div (click)="goToInstagram()">
      <img src="../assets/instagram.png" alt="twitter" />
    </div>
    <div (click)="goToLinkedin()">
      <img src="../assets/linkedin.png" alt="linkedin" />
    </div>
    <div>
      <img src="../assets/whatsapp.png" alt="whatsapp" />
    </div>
  </div>
</div>
