img {
  max-width: 90%;
  max-height: 75%;
  padding: 0.5rem;
}

#cityName {
  width: 100%;
  font-size: 20px;
  text-align: center;
  background-color: ivory;
  padding: 0.5rem;
}

#basic-city {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  #cityName {
    width: 75%;
    font-size: 20px;
    text-align: center;
    background-color: ivory;
    padding: 5px;
  }

  #basic-city {
    padding: 0.5rem;
  }
}
