img {
  /* width: 24%; */
  /* height: 16%; */
  /* width: 100%; */
  width: 90%;
  height: 75%;
  padding: 0.5rem;
}

#countryName {
  width: 100%;
  font-size: 1.8vw;
  text-align: center;
  background-color: ivory;
  padding: 0.8vw;
}

#basic-country {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}

#basic-country:hover {
  cursor: pointer;
  background-color: cornflowerblue;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  #countryName {
    width: 100%;
    font-size: 4vw;
    text-align: center;
    background-color: ivory;
    padding: 0.5vw;
  }

  img {
    width: 80%;
    height: 60%;
    padding: 0.5rem;
  }

  #basic-country {
    padding: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  #countryName {
    width: 100%;
    font-size: 24px;
    text-align: center;
    background-color: ivory;
    padding: 10px 0 10px;
    margin: 0px 5px 0;
  }

  img {
    width: 80%;
    height: 70%;
    padding: 0.5rem;
  }

  #basic-country {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
}
