<div id="nav-bar">
  <div class="continent" routerLink="/world" routerActiveLink="active">
    World
  </div>
  <div class="continent" routerLink="/africa" routerActiveLink="active">
    Africa
  </div>
  <div class="continent" routerLink="/america" routerActiveLink="active">
    America
  </div>
  <div class="continent" routerLink="/asia" routerActiveLink="active">
    Asia
  </div>
  <div class="continent" routerLink="/europe" routerActiveLink="active">
    Europe
  </div>
  <div class="continent" routerLink="/oceania" routerActiveLink="active">
    Oceania
  </div>
</div>

<!-- <ul>
  <li>World</li>
  <li>Africa</li>
  <li>America</li>
  <li>Asia</li>
  <li>Europe</li>
  <li>Oceania</li>
</ul> -->
