app-countries-list {
  width: 100%;
}

app-header,
app-nav-bar,
app-footer {
  width: 100%;
}

#router-container {
  height: 640px;
  overflow: auto;
  border-top: solid black;
  border-left: solid black;
  border-right: solid black;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
