#country-details {
  width: 97vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#country-details-info {
  width: 97vw;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

img {
  max-width: 90%;
  max-height: 75%;
  padding: 0.5rem;
}

.label {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  background-color: ivory;
  padding: 0.5rem;
}

.country-column {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}

.cities-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
